src/fighter
src/cscope.out
config.log
src/screen.bmp
autom4te.cache/output.0
autom4te.cache/output.0
autom4te.cache/output.1
autom4te.cache/requests
autom4te.cache/traces.0
autom4te.cache/traces.1
Makefile
config.status
configure
*.o
*~
AUTHORS
COPYING
ChangeLog
INSTALL
NEWS
aclocal.m4
compile
depcomp
install-sh
missing
src/Makefile.in
src/pw
stamp-h1
config.h
config.h.in
Makefile.in
build